
@media only screen 
and (max-width: 1300px){
    .ikonka{
        font-size: 37px;
    }
    .ikonka > span{
        font-size: 14.5px;
    }


}
@media only screen 
and (max-width: 1200px){
    #ikony{
        width: 90%;
    }
    .ikonka{
        font-size: 37px;
    }
    .ikonka > span{
        font-size: 14px;
    }
    #pojemnik{
        width: 100%
    }
    #wynik{
        margin-left: 35%;
    }
}

@media only screen 
and (max-width: 870px){
    #baner > a{
        left: 60%;
    }
@media only screen 
and (max-width : 740px) {

    #pojemnik > label{
        font-size: 27px;
    }
    .przycisk{
        font-size: 30px;
        width: 110px;
        height: 55px;
    }


}
@media only screen 
and (max-width : 680px) {
    #pojemnik > label, .wyswietl{
        font-size: 25px;
    }
    .przycisk{
        font-size: 25px;
        width: 90px;
        height: 45px;
    }
    .przycisk:hover{
        width: 100px;
        letter-spacing: 4px;
        background-size: 100% 100%;
    }
    #baner > a{
        left: 50%;
    }
    .wyswietl{
        margin-bottom: 20px;
    }
    #ikony{
        margin-left: 20px;
    }
    .ikonka{
        font-size: 32px;
    }
    .ikonka > span{
        font-size: 13px;
    }

}
@media only screen
and (max-width: 562px){
    #baner > a{
        left: 40%;
    }

    #wynik > .ikonka{
        font-size: 160px;
    }
    #wynik > .ikonka > span{
        font-size: 62px;
    }
    #wynik{
        margin-left: 30%;
    }
}

@media only screen
and (max-width: 360px){
    #baner > a{
        left: 30%;
    }
    #baner{
        width: 100%
    }
    #logo{
        font-size: 25px;
    }
    #ostrzezenie{
        font-size: 180px;
    }
}
}