body{
    margin: 0px;
    box-sizing: border-box;
    background-image: url(img/school2.png);
}

#baner{
    width:100%;
    display: flex;
    background-color: #5d4954;
    height: 80px;
    align-items: center;
}

#baner > a{
  color: #dad7e0;
  text-decoration: none;
  display: flex;
  position: relative;
  left: 70%;
  margin-right: 5%;
  font-size: 30px;
  font-weight: 50;
  font-family: 'PT Mono', monospace;
  text-transform: uppercase;
  transition: 0.6s ease;
}
#logo{
    color: #dad7e0;
    font-size: 40px;
    font-weight: 200;
    font-family: 'PT Mono', monospace;
    letter-spacing: 5px;
    position: relative;
    left: 10%;
}
#pojemnik{
    width:40%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    left: 50%;
    float: left;
    
}
#pojemnik > label, .wyswietl{
    color:#dad7e0;
    font-size: xx-large;
    font-family: 'PT Mono', monospace;
    letter-spacing: 1px;
}
#pojemnik > input[type=range]{
    display: block;
    width: 50%;
    height:40px;
    float:left;
}
.przycisk{
    display: block;
    width: 20%;
    height:auto;
    background: transparent;
    border:4px solid #5d4954;
    outline:none;
    cursor:pointer;
    color: #dad7e0;
    font-size: xx-large;
    font-family: 'PT Mono', monospace;
    margin-top: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: 0.5s;
    background-image: linear-gradient(#5d4954, #5d4954);

}
.przycisk:hover{
    width: 22%;
    letter-spacing: 2px;
    background-size: 100% 100%;
}

/*tyle kodu jest potrzebne zeby input range wygladal troche inaczej*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.5px 0;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #16223a;
    border-radius: 1.3px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 19px;
    width: 20px;
    border-radius: 20px;
    background: #5d4954;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #16223a;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #16223a;
    border-radius: 1.3px;
  }
  input[type=range]::-moz-range-thumb {
    height: 19px;
    width: 20px;
    border-radius: 20px;
    background: #5d4954;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #16223a;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #16223a;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    height: 19px;
    width: 20px;
    border-radius: 20px;
    background: #5d4954;
    cursor: pointer;
    height: 6px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #16223a;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #16223a;
  }
  /*az dotad*/
  .ikonka{
    display: none;
    display: block;
    color:#dad7e0;
    font-size: 40px;
    float:left;
    cursor: pointer;
    animation: fade 1s;
  }
  .ikonka > span{
    color: #5d4954;
    font-size: 15px;
    position: relative;
    left: -48%;
    font-family: 'PT Mono', monospace;
  }

  #ikony{
    align-items: center;
    margin: 4%;
    width: 50%;
    float: left;
  }
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
  .nawigacja:focus {
    border-radius: 1000px;
    background: #3b3136;
    padding: 15px;  
}

#ikony > p{
  font-size: xx-large;
  font-family: 'PT Mono', monospace;
  color: #dad7e0;
}
#ostrzezenie {
  font-size: 20rem;
  color:#5d4954;
  animation: pojawienie 0.5s;
}
@keyframes pojawienie{
  0%{
    opacity: 0;
    transform: rotate(180deg);
  }

  100%{
    opacity: 1;
    transform: rotate(0deg);
  }
}
